<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Site. Авторизация</title>

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

   	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
</head>
<body>
	<div id="app">
  		<div class="wrapper">
  			<h3>Авторизация</h3>
  			<form class="form-inline auth-form">
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputEmail3">Логин</label>
			    <input type="text" class="form-control" v-model="login" placeholder="Логин">
			  </div>
			  <div class="form-group">
			    <label class="sr-only" for="exampleInputPassword3">Пароль</label>
			    <input type="password" class="form-control" v-model="password" placeholder="Пароль">
			  </div>
			  <button type="button" class="btn btn-default" @click="loginHandle">Войти</button>
			</form>
			<div class="alert alert-danger" role="alert" v-if="error">{{error}}</div>
			<div class="alert alert-success" role="alert" v-if="success">{{success}}</div>
  		</div>
	</div>

<script type="text/javascript" src="/assets/js/libs/vue.2.0.min.js"></script>
<script type="text/javascript" src="/assets/js/app/app.js"></script>
</body>
</html>